html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__con,
.game__modal {
  width: 70%;
  height: 50%;
  min-height: 550px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game__con {
  background-image: url("./img/background.png");
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 50px;
}
.timer__con,
.cnt__con {
  width: 100%;
  text-align: center;
}
.timer__con {
  flex: 2;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.timer {
  background-color: whitesmoke;
  display: inline-block;
  width: 100px;
  padding: 12px 20px;
  border-radius: 24px;
  font-size: 2em;
  font-weight: 600;
  border: 5px solid black;
}
.cnt__con {
  margin-top: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.cnt {
  background-color: wheat;
  display: inline-block;
  padding: 12px 12px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 2.5em;
  font-weight: 600;
  border: 5px solid black;
}
.response-area {
  display: block;
  position: relative;
  width: 100%;
  height: 50%;
  flex: 3;
  opacity: 0.9;
}
.carrot,
.bug {
  position: absolute;
  display: inline;
  transition: transfrom 100ms ease-in;
}
.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}
.game__modal {
  position: absolute;
  border-radius: 50px;

  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.modal_btn {
  all: unset;
  cursor: pointer;
  background-color: coral;
  color: white;
  font-size: 2em;
  padding: 14px 40px;
  border-radius: 12px;
  border: 5px solid whitesmoke;
}
.result {
  font-size: 4em;
  margin-bottom: 10px;
}
.result {
  color: whitesmoke;
}
.modal__text {
  font-size: 30px;
  color: white;
}
.restartBtn {
  all: unset;
  cursor: pointer;
  background-color: coral;
  color: white;
  font-size: 2em;
  padding: 14px 40px;
  border-radius: 12px;
  border: 5px solid whitesmoke;
}
